* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: rgb(226, 36, 52);
  background-image:url('images/videoblocks-hi-tech-background-this-is-abstract-technological-animation-of-futuristic-grid-perfect-for-any-type-of-videos-dealing-with-scientific-festivals-hi-tech-projects-sci-fi-movies_huv-g4vz.png');
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: rgb(59, 67, 94);
  background: rgb(39, 190, 90);
  text-align: center;
  border: 1px solid rgb(7, 7, 8);
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid rgb(12, 12, 12);
  background-image: url('images/videoblocks-hi-tech-background-this-is-abstract-technological-animation-of-futuristic-grid-perfect-for-any-type-of-videos-dealing-with-scientific-festivals-hi-tech-projects-sci-fi-movies_huv-g4vz.png');
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
  color:white;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: rgb(243, 240, 240);
  background: rgb(39, 190, 90);
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}